NUXT_MEDUSA_URL="http://localhost:9000"
NUXT_PUBLIC_MEDUSA_URL="http://localhost:9000"
NUXT_PUBLIC_PUBLISHABLE_KEY=""
NUXT_PUBLIC_STRIPE_PUBLIC_KEY=""
NUXT_TURNSTILE_SECRET_KEY=""
NUXT_PUBLIC_TURNSTILE_SITE_KEY=""
SITE_NAME="Ecommerce"
SITE_URL="http://localhost:3000"
NUXT_PUBLIC_SITE_URL="http://localhost:3000"
MAILCHIMP_AUDIENCE_ID=""
MAILCHIMP_API_KEY=""
