.faq-cards {
    margin: 2rem 0;
    .faq-card {
        background: transparent;
        border: 0.0625rem solid $primary;
        border-radius: 0.5rem;
        height: 100%;
        padding: 1.5rem;
    }
}
.external-login-block-no-shop {
    display: flex;
    border: 1px solid #e2ecff;
    cursor: pointer;
    padding: 0.75rem 1rem;
    p {
        margin: 0;
    }
}
.external-login-link {
    text-decoration: none;
}
.contact-divider {
    margin: 1.5rem auto 2rem;
    max-width: 26.5rem;
    position: relative;
    text-align: center;
    width: 100%;
    span {
        background: #fff;
        padding: 0 0.75rem;
        position: relative;
        z-index: 1;
    }
    &::before {
        background: #eaebf0;
        content: "";
        height: 0.0625rem;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
}
.search-results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @include media-breakpoint-down(lg) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include media-breakpoint-down(md) {
        grid-template-columns: repeat(1, 1fr);
    }
}
.variant-buttons {
    margin-top: 1rem;
    overflow-x: auto;
}

.variant-buttons button {
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid;
}

.variant-buttons .selected {
    background-color: $primary;
    color: white;
}

.variant-buttons button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
