.faq-cards {
  margin: 2rem 0;
  .faq-card {
    background: transparent;
    border: .0625rem solid $primary;
    border-radius: .5rem;
    height: 100%;
    padding: 1.5rem;
  }
}
.external-login-block-no-shop {
  display: flex;
  border: 1px solid #e2ecff;
  cursor: pointer;
  padding: 0.75rem 1rem;
  p {
    margin: 0;
  }
}
.external-login-link {
  text-decoration: none;
}
.contact-divider {
  margin: 1.5rem auto 2rem;
  max-width: 26.5rem;
  position: relative;
  text-align: center;
  width: 100%;
  span {
    background: #fff;
    padding: 0 .75rem;
    position: relative;
    z-index: 1;
  }
  &::before {
    background: #eaebf0;
    content: "";
    height: .0625rem;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
}