.contact-divider {
    margin: 1.5rem auto 2rem;
    max-width: 26.5rem;
    position: relative;
    text-align: center;
    width: 100%;
}

.contact-divider span {
    background: #fff;
    padding: 0 0.75rem;
    position: relative;
    z-index: 1;
}

.contact-divider::before {
    background: #eaebf0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.blog-row h1 {
    text-align: center;
    margin: 1.2rem 0;
    font-size: 2.5rem;
}

.blog-row h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    margin: 1.2rem 0;
}

.blog-row a {
    text-decoration: none;
}

@media (max-width: 960px) {
    .blog-row h1 {
        font-size: 2rem;
        line-height: 1;
    }
}
