.bannerSwiper {
    img {
        min-height: 480px;
        object-fit: cover;
    }
}

swiper-container {
    --swiper-theme-color: $primary;
    --swiper-navigation-size: 22px;
    --swiper-navigation-top-offset: 10px;
    --swiper-navigation-sides-offset: 10px;
    --swiper-pagination-color: #000000;
    --swiper-pagination-bullet-border-radius: 8px;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 4px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-width: 16px;
    --swiper-pagination-bullet-height: 4px;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-inactive-color: #ffffff;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bottom: 0rem;
    --swiper-preloader-color: var(--swiper-theme-color);
}
